<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>

    <nav>
        <ul>
            <li>
                <a href="/">HOME</a>
            </li>
            <li>
                <a href="/tasks">tasks</a>
            </li>
            {% if user.is_authenticated %} 
            <li>
                <a href="/logout">logout</a>
            </li>
            {% else %}
            <li>
                <a href="/signup">signup</a>
            </li>
            <li>
                <a href="/signin">Signin</a>
            </li>

            {% endif %}         
        </ul>
    </nav>

    {% block content %}
    {% endblock %}

</body>
</html>