{% extends 'base.html' %}

{% block content %}
<section class="card card-body">
    <h1>Bienvenido a TaskMaster: ¡Tu Asistente de Tareas!</h1>
    <p>
        <h4>
            ¡Bienvenido a TaskMaster, tu compañero ideal para la organización y gestión de tareas!
        </h4>
      Sabemos lo importante que es mantener el control de tus actividades diarias, y por eso hemos creado una plataforma sencilla e intuitiva que te ayudará a gestionar tus proyectos de manera eficiente. 
      es TaskMaster?
      TaskMaster es una aplicación diseñada para ayudarte a organizar, priorizar y completar tus tareas. Ya sea que seas un estudiante, un profesional o simplemente alguien que busca mantenerse organizado, nuestra herramienta está aquí para simplificar tu vida. Con una interfaz amigable y características poderosas, puedes:

      Crear tareas y categorizarlas según tus proyectos.
      Asignar fechas de vencimiento y recibir recordatorios para no perder ninguna entrega.
      Marcar tareas como completadas y hacer seguimiento de tu progreso.
      Visualizar tus tareas pendientes de una manera clara y estructurada.
      Características Destacadas
      Gestión de Tareas: Crea, edita y elimina tareas con facilidad. Agrega descripciones detalladas para mantenerte al tanto de lo que necesitas hacer.
      Fechas y Prioridades: Establece fechas límite y prioridades para cada tarea, asegurándote de que lo más importante se complete primero.
      Historial de Tareas Completadas: Revisa las tareas que has completado y celebra tus logros.
      ¿Cómo Empezar?
      Es muy sencillo. Solo necesitas crear una cuenta y comenzar a añadir tus tareas. Personaliza tus listas y ajusta la plataforma a tus necesidades personales o profesionales.

      Únete a Nuestra Comunidad
     ¡No esperes más! Únete a nuestra comunidad y comienza a organizar tu vida con TaskMaster. Juntos, podemos ayudarte a alcanzar tus objetivos y mantener el control de tu tiempo
   </p>
</section>
{% endblock %}